@page "/Music"
<h3>Music</h3>

<iframe style="border: 0; width: 400px; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=2222250140/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless>
    <a href="https://zische.bandcamp.com/album/antisocial-stepper">Antisocial Stepper by Zische</a>
</iframe>

@code {

}
